
.modal_frame {
	position: fixed;
	top: 0;
	left: 0;
	transform:  translate(50vw, 50vh) translate(-50%, -50%);
	padding:10px;
	border:1px solid #CCCCCC;
	background:white;
	z-index:19999;
	display:none;
	border-radius:10px;
	-moz-border-radius:10px;
	/* Old Firefox */
	opacity: 1.0;
	/* overflow:scroll; */
	width:auto;
	height:auto;
	max-height:100%;
	max-width:100%;
	overflow:auto;   
}

.modal_overlay {
	position:fixed;
	display:none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	*filter: alpha(opacity=80);
	z-index:10000;
	overflow: hide;
}

